<!DOCTYPE html>
<html>

   <head>
      <title>HTML Background Colors</title>
   </head>
	
   <body>
      <h1><i>This is a demo HTML page</i></h1>
      <h2>This is for <u>TOPCODER DEMO</u></h2>
      <!-- Format 1 - Use color name -->
      <table bgcolor = "yellow" width = "100%">
         <tr>
            <td>
               Hi, this is Sruti Sarkar from Kolkata,India. Hope you are well.
            </td>
         </tr>
      </table>
 
      <!-- Format 2 - Use hex value -->
      <table bgcolor = "#6666FF" width = "100%">
         <tr>
            <td>
               This is a basic HTML code. Hope you like it.
            </td>
         </tr>
      </table>
 
      <!-- Format 3 - Use color value in RGB terms -->
      <table bgcolor = "rgb(255,0,255)" width = "100%">
         <tr>
            <td>
               This code is used for Topcoder challenge
            </td>
         </tr>
      </table>
   </body>
   
</html>
